.cabecalho{
    background-color: #e02960;
    text-align: center;
    font-size: medium;
    font-family: Georgia, 'Times New Roman', Times, serif;
    

}

.corpo{
    background-color: pink;
    text-align: center;
    font-size: medium;
    font-family: Georgia, 'Times New Roman', Times, serif;

}

corpo{
    background-color: #1e39b1;
    text-align: center;
    font-size: medium;
    font-family: Georgia, 'Times New Roman', Times, serif;

}