body {
    font-family: Arial, Helvetica, sans-serif;
    background: rgb(192, 143, 255);
  color: rgb(255, 255, 255);
  
  
  }
  
  /* Style the header */
  header {
    background-color: rgb(159, 41, 222);
    padding: 1px;
    text-align: center;
    font-size: 30px;
    color: rgb(255, 255, 255)
  
  }
  
  /* Create two columns/boxes that floats next to each other */
  nav {
    float: left;
    width: 15%;
    height: 900px; /* only for demonstration, should be removed */
    background: rgb(192, 143, 255);
    padding: 60px;
    color: rgb(255, 255, 255);
    
   
  }
  
  /* Style the list inside the menu */
  nav ul {
    list-style-type: none;
    padding: 0;
    color: rgb(255, 255, 255);
  }
  

  
  /* Clear floats after the columns */
  section::after {
    content: "";
    display: table;
    clear: both;
    color: rgb(255, 255, 255);
    
  }
  
  /* Style the footer */
  footer {
    background-color: rgb(140, 66, 192);
    padding: 1px;
    text-align: center;
    color: rgb(255, 255, 255);
  }

  
  
  /* Responsive layout - makes the two columns/boxes stack on top of each other instead of next to each other, on small screens */
  @media (max-width: 600px) {
    nav, article {
      width: 100%;
      height: auto;
    }
  }
  
  
  
  a:link {
      color: rgb(255, 255, 255);
      background-color: transparent;
      text-decoration: none;
    }
    a:visited {
      color: rgb(255, 255, 255);
      background-color: transparent;
      text-decoration: none;
    }
    a:hover {
      color: rgb(174, 0, 255);
      background-color: transparent;
      text-decoration: underline;
    }
    a:active {
        color: rgb(174, 0, 255);
      background-color: transparent;
      text-decoration: underline;
    }
  
  
  
  
    
   